@inherits LayoutComponentBase

<MatAppBar Style="z-index: 100;" Class="mat">
    <MatAppBarRow>
        <MatAppBarSection style="justify-content: center">
            <MatAppBarTitle style="font-size: 1.6em; letter-spacing: 0.06rem;">Crypto Portfolio Tracker</MatAppBarTitle>
        </MatAppBarSection>
    </MatAppBarRow>
</MatAppBar>

<MatDrawerContainer>

    <MatDrawerContent>
        <MatAppBarAdjust></MatAppBarAdjust>
        <div class="body-content">
            @Body
        </div>
    </MatDrawerContent>

</MatDrawerContainer>
