@page "/editportfolio/{portfolioId:int}"
@using Model
@using Services
@using Utils
@inject IPortfolioService PortfolioService
@inject IMatDialogService MatDialogService
@inject IMatToaster Toaster
@inject NavigationManager NavigationManager


<style>
    .demo-mat-card-content {
        padding: 1rem;
    }
</style>

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2"></div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
            <MatH5>
                <MatButton Outlined="true" Icon="keyboard_arrow_left" Style="margin-right: 1rem;" OnClick='() => { NavigationManager.NavigateTo($""); }'>Back</MatButton>
            </MatH5>
            <MatCard>
                <MatCardContent class="demo-mat-card-content">
                    <h2>Edit portfolio</h2>
                    <PortfolioForm
                        DefaultCurrency="@Currency.Usd"
                        AvailableCurrencies="@(EnumUtils.GetEnumList<Currency>())"
                        FormModel="_formModel"
                        Edit="true"
                        OnSubmitEventHandler="@OnCreateFormSubmitted">
                    </PortfolioForm>
                </MatCardContent>
            </MatCard>
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2"></div>
    </div>
</div>


@code
{
    // ID of the portfolio to be edited
    [Parameter]
    public int PortfolioId { get; set; }

    // model of the form
    private readonly PortfolioForm.NewPortfolioModel _formModel = new(Currency.Usd);

    // currently edited portfolio
    private Portfolio _activePortfolio;

    protected override void OnInitialized()
    {
        // find the portfolio
        _activePortfolio = PortfolioService.GetPortfolio(PortfolioId);
        
        // update the form model
        _formModel.Name = _activePortfolio.Name;
        _formModel.Description = _activePortfolio.Description;
    }

    private void OnCreateFormSubmitted(PortfolioForm.NewPortfolioModel formModel)
    {
        // update the portfolio
        PortfolioService.UpdatePortfolio(_activePortfolio with {
            Name = formModel.Name,
            Description = formModel.Description
            });
        // reset the form 
        formModel.Reset();
        Toaster.Add("Portfolio successfully edited", MatToastType.Success, "", "");
        
        // navigate back to the portfolio detail
        NavigationManager.NavigateTo($"/portfolios/{_activePortfolio.Id}");
    }
}