@page "/newmarketorder/{entryId:int}"
@using Model
@using Services
@inject IPortfolioService PortfolioService
@inject IPortfolioEntryService PortfolioEntrySerivce
@inject IMarketOrderService MarketOrderService
@inject IMatDialogService MatDialogService
@inject IMatToaster Toaster
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager


<style>
    .demo-mat-card-content {
        padding: 1rem;
    }
</style>

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell">
            <MatButton Outlined="true" Icon="keyboard_arrow_left" Style="margin-bottom: 1rem;" OnClick='() => { NavigationManager.NavigateTo($"/entries/{ActiveEntry.Id}"); }'>Back</MatButton>
            <MatCard>
                <MatCardContent class="demo-mat-card-content">
                    <h2>Create a new market order</h2>
                    <EntryForm Currency="@ActivePortfolio.Currency" Symbol="@ActiveEntry.Symbol" OnSubmitEventHandler="@OnCreateOrderFormSubmit" ></EntryForm> 
                </MatCardContent>
            </MatCard>
        </div>
    </div>
</div>


@code
{
    [Parameter]
    public int EntryId { get; set; }
    
    protected Portfolio ActivePortfolio = new("", "", Currency.Usd);
    protected PortfolioEntry ActiveEntry = new("btc", 1);

    protected override void OnInitialized()
    {
        ActiveEntry = PortfolioEntrySerivce.GetPortfolioEntry(EntryId);
        ActivePortfolio = PortfolioService.GetPortfolio(ActiveEntry.PortfolioId);
    }

    private void OnCreateOrderFormSubmit(EntryForm.NewOrderModel formModel)
    {
        Console.WriteLine("OnCreateOrderFormSubmit " + formModel);
        MarketOrderService.CreateMarketOrder(formModel.FilledPrice, formModel.Fee, formModel.Size, formModel.OrderDate, true, ActiveEntry.Id);
        formModel.Reset();
        Toaster.Add("New order successfully added", MatToastType.Success, "", "");
    }
}