@page "/newportfolio"
@using Model
@using Services
@using Utils
@inject IPortfolioService PortfolioService
@inject IMatDialogService MatDialogService
@inject IMatToaster Toaster
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager


<style>
    .demo-mat-card-content {
        padding: 1rem;
    }
</style>

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2"></div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
        
            <MatButton Outlined="true" Icon="keyboard_arrow_left" Style="margin-bottom:1em; margin-right: 1rem;" OnClick='() => { NavigationManager.NavigateTo($""); }'>Back</MatButton>
            <MatCard>
                <MatCardContent class="demo-mat-card-content">
                    <h2>New portfolio</h2>
                    <PortfolioForm
                        DefaultCurrency="@Currency.Usd"
                        AvailableCurrencies="@(EnumUtils.GetEnumList<Currency>())"
                        OnSubmitEventHandler="@OnCreateFormSubmitted">
                    </PortfolioForm>
                </MatCardContent>
            </MatCard>
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2"></div>
    </div>
</div>


@code
{
    private void OnCreateFormSubmitted(PortfolioForm.NewPortfolioModel formModel)
    {
        PortfolioService.CreatePortfolio(formModel.Name, formModel.Description, formModel.SelectedCurrency);
        formModel.Reset();
        Toaster.Add("New portfolio successfully added", MatToastType.Success, "", "");
    }
}